.home {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  height: 88vh;
}

.videoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1300px;
  height: 50vh;
}

.videoBox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lowerBox {
  width: 1300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: var(--main-color);
  border-style: solid;
  border-width: 1px;
  border-left: 0;
  border-right: 0;
}

.cookingTime {
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.linksBlock {
  width: 1300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkBox {
  width: 30%;
  height: 20vh;
  color: white;
  border-color: rgb(179, 176, 176);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.linkBox h3 {
  margin: 1rem;
}

.linkBox p {
  margin: 0 1rem;
}

.link {
  margin-bottom: 1.5rem;
}

.link a {
  margin-left: 1rem;
  color: var(--main-color);
  text-decoration: none;
  font-style: italic;
}
