.Recipes {
  background-color: #333;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleAndSearchBox {
  width: 1300px;
  display: flex;
  justify-content: flex-end;
}

.titleAndSearch {
  color: white;
  margin-top: 2rem;
  width: 750px;
  display: flex;
  justify-content: space-between;
}

.searchByDishName {
  display: flex;
  align-items: center;
}

.searchByDishName label {
  margin-right: 1rem;
  color: rgb(179, 176, 176);
}

.searchByDishName input {
  width: 200px;
  height: 1.7rem;
  padding-left: 0.5rem;
  border-radius: 5px;
}

.cards {
  max-width: 1300px;
  height: 100%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}